@font-face {
  font-family: "Gilroy Bold";
  src: url("../../fonts/Gilroy-Bold/Gilroy-Bold.ttf") format("truetype"),
    url("../../fonts/Gilroy-Bold/Gilroy-Bold.woff") format("woff"),
    url("../../fonts/Gilroy-Bold/Gilroy-Bold.woff2") format("opentype");
}

.vebinar {
  display: flex;
  height: 32px;
  width: 119px;
  background: #4252d1;
  border-radius: 5px;
  margin-left: 256px;
  margin-top: 116px;
}

.vebinar img {
  height: 19px;
  width: 19px;
  margin-top: 7px;
  margin-left: 14px;
}

.vebinar p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
  margin-top: 4px;
  margin-left: 7px;
}

.main-title {
  width: 427px;
  height: 95.47px;
  margin-left: 256px;
}

.main-title p {
  margin: 0;
  font-family: "Gilroy Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 77px;
  line-height: 94px;
  text-transform: uppercase;
  color: #ff3459;
}

.first-decription {
  display: flex;
}
.container-zero {
  width: 106.72px;
  height: 38.69px;
  background: #ff3459;
  border-radius: 5px;
  transform: rotate(-3.51deg);
  margin-left: 256px;
}

.container-zero h2 {
  width: 82.08px;
  height: 28.89px;
  margin: 0;
  padding-top: 6px;
  margin-left: 13px;
  font-family: "Gilroy Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 23.6391px;
  line-height: 29px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
  transform: rotate(3deg);
}

.first-decription p {
  margin: 0;
  width: 295px;
  height: 26.34px;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 20.9494px;
  line-height: 26px;
  /* identical to box height */
  color: #ffffff;
  margin-left: 16px;
}

.secont-decription {
  width: 419px;
  height: 108px;
  margin-left: 257px;
  margin-top: 30px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 148%;
  /* or 27px */

  color: #ffffff;
  text-align: left;
}

mark {
  width: 90px;
  height: 27px;
  background-color: #4252d1;
  border-radius: 3px;
  padding: 2px 4px;

  font-family: "Gilroy bold";
  font-style: normal;
  font-weight: 700;
  font-size: 17.332px;
  line-height: 148%;
  /* identical to box height, or 26px */

  color: #ffffff;
}

.info-person {
  display: flex;
  margin-left: 256px;
  margin-top: 52px;
}

.info-person img {
  width: 50px;
  height: 50px;
}

.info-person h2 {
  width: 155.35px;
  height: 16px;
  margin: 0;
  margin-left: 5px;

  font-family: "Gilroy Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 120%;
  /* identical to box height, or 16px */

  text-transform: uppercase;

  color: #ffffff;
}

.info-person p {
  width: 310px;
  height: 38px;
  margin: 0;
  margin-left: 17px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-align: left;
  line-height: 160%;
  /* or 19px */

  color: #ffffff;
}

.info-person b {
  color: #4252d1;
  font-family: "Gilroy Bold";
}

.bonus-img {
  width: 37px;
  height: 37px;
}

.bonus-section {
  display: flex;
  margin-left: 256px;
  margin-top: 16px;
}

.bonus-section h2 {
  width: 135px;
  height: 18px;
  margin: 0;
  margin-left: 30px;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 148%;
  /* identical to box height, or 18px */

  color: #ffffff;
}

.bonus-section p {
  width: 216px;
  height: 33px;
  margin-left: 30px;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 148%;
  text-align: left;
  /* or 18px */

  color: #ffffff;
}
