header {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.logo-container img {
  display: block;
}

.logo-container {
  display: flex;
  margin-left: 17.8%;
}

.logo-img {
  width: 50px;
  height: 56px;
  margin-top: 34px;
}

.powercode-img {
  height: 15.75px;
  width: 118.125px;
}

.academy-img {
  height: 15.75px;
  width: 118.125px;
  margin-top: 4px;
}

.company-name {
  margin-top: 44px;
  margin-left: 14px;
}

.event-time {
  display: flex;
  margin-left: 30%;
  margin-top: 32px;
}

.event-time p {
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 7px;
}

.event-icon {
  margin: auto 0;
  width: 15px;
  height: 15px;
}

.event_data {
  height: 40px;
  width: 141px;
  left: 684px;
  top: 32px;
  border-radius: 10px;
  color: #ffffff;
  background: #302e5a;
  margin-left: 20px;
}

.event_hours {
  height: 40px;
  width: 141px;
  left: 843px;
  top: 32px;
  border-radius: 10px;
  color: #ffffff;
  margin-left: 18px;
  background: #302e5a;
}

.data-conteiner {
  display: flex;
  margin-left: 25px;
}

/* Планшет */
@media (max-width: 1180px) {
  .logo-container {
    margin-left: 35px;
  }

  .company-name {
    margin-top: 24px;
    margin-left: 10px;
  }

  .event-time {
    position: absolute;
    right: 7%;
    margin-left: 20%;
    margin-top: 16px;
  }

  .data-conteiner {
    margin-left: 10px;
  }

  .data-conteiner {
    margin-left: 20px;
  }
}

/* Телефон */
@media (max-width: 550px) {
  .logo-container {
    margin-left: 20px;
  }

  .event_data {
    height: 24px;
    width: 88px;
  }

  .powercode-img {
    height: 7px;
    width: 100%;
  }

  .academy-img {
    height: 9px;
    width: 100%;
    margin-top: 4px;
  }

  .event_hours {
    height: 40px;
    width: 110px;
    margin-left: 10px;
  }
  .event-icon {
    margin: 0;
    margin-top: 7px;
    width: 11px;
    height: 11px;
  }

  .event-time p {
    font-family: Gilroy;
    font-size: 11px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    margin-top: 5px;
    margin-left: 2px;
  }

  .hour {
    margin-left: 14px;
  }

  .day {
    margin-left: 7px;
  }

  .logo-img {
    width: 28px;
    height: 32px;
    margin-top: 20px;
  }

  .company-name {
    margin-left: 5px;
  }

  .event-time {
    margin-right: 0;
    margin-top: 22px;
  }

  .data-conteiner {
    width: 100px;
    text-align: center;
    margin-bottom: 2px;
  }
}
