header {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.logo-container img {
  display: block;
}

.logo-container {
  display: flex;
  margin-left: 256px;
}

.logo-img {
  width: 50px;
  height: 56px;
  margin-top: 34px;
}

.powercode-img {
  height: 15.75px;
  width: 118.125px;
}

.academy-img {
  height: 15.75px;
  width: 118.125px;
  margin-top: 7px;
}

.company-name {
  margin-top: 44px;
}

.event-time {
  display: flex;
  margin-left: 446px;
}

.event-time p {
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}

.day {
  height: 40px;
  width: 141px;
  left: 684px;
  top: 32px;
  border-radius: 10px;
  color: #ffffff;
  background: #302e5a;
}

.hours {
  height: 40px;
  width: 141px;
  left: 843px;
  top: 32px;
  border-radius: 10px;
  color: #ffffff;
  margin-left: 18px;
  background: #302e5a;
}
