footer {
  background-color: transparent;
  text-align: center;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 156px;
  margin: 0;
  text-align: center;
  padding: 0;

  font-family: "Gilroy BOLD";
  font-style: normal;
  /* font-weight: 800; */
  font-size: 127.359px;
  line-height: 158px;
  /* identical to box height */

  text-transform: uppercase;

  -webkit-text-stroke: 1.59744px rgba(255, 255, 255, 0.05);
  -webkit-text-fill-color: transparent;
}

/* Планшет */

@media (max-width: 1420px) {
  footer {
    display: none;
  }
}
/* Телефон */
@media (max-width: 520px) {
  footer {
    display: none;
  }
}
