@font-face {
  font-family: "Gilroy";
  src: url("./fonts/gilroy/Gilroy-Thin.ttf") format("truetype"),
    url("./fonts/gilroy/Gilroy-Thin.woff") format("woff"),
    url("./fonts/gilroy/Gilroy-Thin.eot") format("opentype");
}

@font-face {
  font-family: "Gilroy Bold";
  src: url("./fonts/Gilroy-Bold/Gilroy-Bold.ttf") format("truetype"),
    url("./fonts/Gilroy-Bold/Gilroy-Bold.woff") format("woff"),
    url("./fonts/Gilroy-Bold/Gilroy-Bold.woff2") format("opentype");
}

body {
  font-family: "Gilroy", sans-serif;
}
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  background-image: url("./img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1420px) {
  .App {
    text-align: center;
    background-image: none;
    background: rgb(47, 45, 88);
    background: linear-gradient(
      0deg,
      rgba(47, 45, 88, 1) 0%,
      rgba(37, 39, 51, 1) 100%
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
  }
}

@media (max-width: 1180px) {
  .App {
    text-align: center;
    background-image: none;
    background: rgb(47, 45, 88);
    background: linear-gradient(
      0deg,
      rgba(47, 45, 88, 1) 0%,
      rgba(37, 39, 51, 1) 100%
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
  }
}

/* Телефон */
@media (max-width: 520px) {
  .App {
    text-align: center;
    background-image: none;
    background: rgb(47, 45, 88);
    background: linear-gradient(
      0deg,
      rgba(47, 45, 88, 1) 0%,
      rgba(37, 39, 51, 1) 100%
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 110%;
    width: 100%;
    padding-bottom: 10px;
  }
}
